.display-inline-menu li {
	display: inline;
}
.header__main-menu li {
	margin-left: 20px;
	color: #7e7e7e;
	font-size: 15px;
	font-family: "Myria-pro-light";
}
.header__main-menu a {
	text-decoration: none;
	color: #7e7e7e;
}	
.header__social-links ul li {
	margin-right: 12px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.header__main-menu ul li  {
	margin-right: 35px;
	margin-top: 32px;
}
/*---------------------------contnt-------------------------------*/
.main__content-menu ul li a  {
	text-decoration: none;
	color: #7e7e7e;
	font-family: "Myriaregular";
	font-size: 13px;
}
.main__content-menu ul li::after { 
    content: " /";
    color: #7e7e7e;
}
.main__content-menu ul li:last-child::after { 
    content:"";  
}
.main__content-menu ul li a:hover {
	color:#d42819;
}
/*-------------------pangination-------------------------------------------*/
.pangination {
	padding:100px ;
}    
.pangination  a {
	color: #b5b4b4;
	text-decoration: none;
}
.pangination li:not(:nth-child(-n+2)):not(:nth-last-child(-n+2)) {
	width: 22px;
	height: 22px;
	border-radius: 3px;
	border:solid #bab7b7 1px;
	background:transparent; 
	margin-left: 3px;
	text-align: center;
	padding-top: 4px;
}
.pangination li:nth-child(-n+2),.pangination li:nth-last-child(-n+2){
	position: relative;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	border:solid #bab7b7 1px;
	background:#fff; 
	margin-left: 3px;
	text-align: center;
	padding-top:4px;
	font-size: 2em;
} 
.pangination li:nth-child(-n+2) a, .pangination li:nth-last-child(-n+2) a{
   position: absolute;
   top: -6.5px;
   left: 4px;
}
.pangination a:hover {
	color:#b5b4b4;
}
.next-prev-styles {
	background-color: #ffffff;
}
.pangination li:hover:not(.active) {
	background-color: #ddd;
}
.pangination li .active {
    background-color: #ffffff;
    color: #d42819;
}
